.container {
    border-radius: 10px;
  }
  .page-header {
    border-bottom: 2px solid rgb(101, 148, 169);
    align-items: center;
  }
  .page-header img {
    display: block;
    margin: auto;
    padding: 20px ;
  }
  
  .modal-content {
    margin: auto;
    display: inline-block;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }