body {
    background-color: lightblue;
    color: darkblue;
    text-align: center;
}
.button-class {
    background-color: darkblue;
    border: black;
    color: antiquewhite;
    padding: 1%;
    margin: 2%;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
li {
    list-style: none;
}