{
    "env": {
      "es6": true,
      "browser": true,
      "jquery": true
    },
    
    "rules": {
        "quotes": ["error", "double"]
      },

    "extends": [
      "eslint:recommended"
    ]
  }